<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>

    <body>
        <h1> Teams </h1>
        <form action="/call" method="GET">
            <input type="submit" value="Make a call">
        </form>
    </body>
</html>