
<script>
    const roomId = "<%= roomId %>"
</script>
<script defer src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/peerjs/1.3.2/peerjs.min.js"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.1/socket.io.js"></script>
<script src="/js/socket_connection.js" defer></script>
<link rel="stylesheet" href="/css/room.css">
<link rel="stylesheet" href="/css/chat_box.css">
<div id="main">
    <div id="left-part">
        <div class="videos">
            <div id="video-box"></div>
        </div>
        <div class="left-options">
            <div id="videoStop">
                <button> Video </button>
            </div>
            <div id="muteButton">
                <button class="stop-button"> Audio </button>
            </div>
        </div>
    </div>
    <div id="right-part">
        <%- include('_chat_box'); %>
    </div>
</div>
<script src="/js/room.js"></script>
