<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="/css/room.css">
    </head>
    <body>
        <div id="video-box"></div>
        <h1>Room</h1>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.1/socket.io.js"></script>
        <script src="/js/socket_connection.js"></script>
    </body>
</html>