<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="/css/room.css">
    </head>
    <body>
        <div id="video-box"></div>
        <h1>Room</h1>
    </body>
</html>