<html>
    <head>
        <script>
            const roomId = "<%= roomId %>"
        </script>
        <script defer src="https://cdnjs.cloudflare.com/ajax/libs/peerjs/1.3.2/peerjs.min.js"></script>
        <script defer src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.1/socket.io.js"></script>
        <script src="/js/socket_connection.js" defer></script>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="/css/room.css">
    </head>
    <body>
        <div id="video-box"></div>
        <!-- <h1>Room</h1> -->
        <!-- <h3><%= roomId %></h3> -->
    </body>
</html>