#video-box{
    /* display: grid;
    grid-auto-rows: 400px;
    grid-template-columns: repeat(auto-fill,400px); */
    display: flex;
    flex-grow: 1;
    padding: 1rem;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    flex-shrink: 1;
}
video{
    height: 45%;
    width: 40%;
    object-fit: cover;
    margin: 2px;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    border: 1px solid black;
}

.left-options div{
    display: inline-block;
}

.options-color{
    color: red;
}